<form method="post" action="{{ path('app_extincteur_delete', {'id': extincteur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir desactiver cet extincteur ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ extincteur.id) }}">
    <button class="btn btn-danger " type="submit">desactiver</button>
</form>