{% extends 'base.html.twig' %}


{% block title %}Hello world!{% endblock %}


{% block body %}
    {% include './_fragments/_nav.html.twig' %}
    <h1 class="text-3xl text-red-500">
        about us
    </h1>


{% endblock %}
