{% extends 'base.html.twig' %}


{% block title %}Contact Us{% endblock %}


{% block body %}
    {% include './_fragments/_nav.html.twig' %}
    <h1 class="text-3xl text-red-500">
        Contact US
    </h1>


{% endblock %}
