{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block body %}
    <h1>Edit Intervention</h1>

    {{ include('intervention/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
