{% extends 'base.html.twig' %}

{% block title %}New Intervention{% endblock %}

{% block body %}
    <h1>Create new Intervention</h1>

    {{ include('intervention/_form.html.twig') }}

{% endblock %}
